name: test
on:
  push:
    paths-ignore:
      - LICENSE
      - README.*
      - examples
      - .github/workflows
  pull_request:
    paths-ignore:
      - LICENSE
      - README.*
      - examples
      - .github/workflows
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nim-version:
          - 'stable'
    steps:
      - uses: actions/checkout@v3
      - name: Build libjwt from source
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential libjansson-dev
          git clone https://github.com/benmcollins/libjwt.git
          cd libjwt
          mkdir build
          cd build
          cmake ..
          make
          sudo make install
          sudo ldconfig
      - uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: ${{ matrix.nim-version }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: nimble install -Y
      - run: nim c -r src/${{ github.event.repository.name }}.nim
      - run: nimble test